/* css styles */

/* only the configuration that applies across themes */

@import url(https://fonts.cdnfonts.com/css/charis);




/* Custom navbar */



.center {
  text-align: center !important;
}


.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 350px;
  height: 350px;
}
.circle-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.ipa {
  font-family: 'Charis SIL', Sans-Serif;
}


.justify {
  text-align: justify !important
}


.about-entity {
  padding-top: 50px;
}

.about-link {
  color: #C93844 !important;
  font-size: 25px !important;
  padding: 10px !important;
  border: 0 !important;
  border-radius: 5px !important;
  background-color: transparent !important;
}

.about-link:hover {
  transform:scale(2);
}

h1 {
  font-size: 40px !important;
}


